@tailwind base;
@tailwind components;
@tailwind utilities;

.h1 {
  @apply text-2xl font-bold sm:text-4xl md:text-5xl;
}

.p {
  @apply text-lg font-normal md:text-2xl;
}

.planBox {
  @apply relative mx-0.5 flex h-16 xs:h-20 w-[calc(100%/4)] cursor-pointer items-center justify-center rounded-sm
  bg-primary text-[11px] xs:text-sm font-semibold text-white shadow after:absolute after:left-1/2 after:top-full after:block after:-translate-x-1/2
  after:border-8 after:border-b-0 after:border-transparent after:border-t-primary after:content-[""] md:mx-2 md:h-[95px] md:text-base;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: black;
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  color: white;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 355.5 92.2% 46.7%;
    --primary-foreground: 210 40% 98%;

    --secondary: 359 77.8% 40.6%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --warning: 31.5 97.8% 47.3%;

    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 355.5 92.2% 46.7%;
    --primary-foreground: 210 40% 98%;

    --secondary: 359 77.8% 40.6%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply h-full overflow-x-hidden bg-zinc-900;
  }
}
